<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>FlexiblePomodoroTree</title>
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/Navbar-Right-Links-Dark.css">
    <link rel="stylesheet" href="../assets/css/styles.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md py-3">
        <div class="container"><a class="navbar-brand d-flex align-items-center" href="#"><span class="bs-icon-md bs-icon-circle bs-icon-semi-white d-flex justify-content-center align-items-center me-2 bs-icon"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-tree-fill text-success">
                        <path d="M8.416.223a.5.5 0 0 0-.832 0l-3 4.5A.5.5 0 0 0 5 5.5h.098L3.076 8.735A.5.5 0 0 0 3.5 9.5h.191l-1.638 3.276a.5.5 0 0 0 .447.724H7V16h2v-2.5h4.5a.5.5 0 0 0 .447-.724L12.31 9.5h.191a.5.5 0 0 0 .424-.765L10.902 5.5H11a.5.5 0 0 0 .416-.777l-3-4.5z"></path>
                    </svg></span><span>Flexible Pomodoro Tree</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-2"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-2">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link active" href="/templates/pomodoro">Pomodoro</a></li>
                    <li class="nav-item"><a class="nav-link" href="/templates/task">Task</a></li>
                    <li class="nav-item"><a class="nav-link" href="/templates/budget">Budget</a></li>
                    <li class="nav-item"></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Welcome!</h2>
                <p>Description of available modes</p>
            </div>
            <div class="col-md-6">
                <h2>Overview</h2><p>Current mode: {{displayCurrentMode}}
    <br /> {% if (displayCurrentMode == "POMODORO") %} Work time: {{displayPWorkTime}}
    
    {% elif (displayCurrentMode == "TASK") %} Task list: {{taskNum}}
    
    {% elif (displayCurrentMode == "BUDGET") %} Break time: {{budgetTime}}{% endif %}
    
    <br /> {% if (displayCurrentMode == "POMODORO") %} Break time: {{displayPBreakTime}}{% endif %} </p>
            </div>
        </div>
    </div>
    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>